<!-- <body>
  <ul class="navbar">
    <li><a href="home.html">Home</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="diary.html">Diary</a></li>
    <li><a href="recipes.html">Recipes</a></li>
  </ul>
</body> -->



<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">Fitness kitchen</span></p>
    </div>

    <div class="mini-navbar">
      <ul *ngIf="!isLoggedIn">
        <li>
          <a routerLink="/auth/login">Login</a>
        </li>
        <li>
          <a routerLink="/auth/register">Register</a>
        </li>
      </ul>

      <ul *ngIf="isLoggedIn">
        <li>
          <a routerLink="/auth/profile">{{ firstName }}'s profile</a>
        </li>
        <li (click)="logout()">
          <a>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/add-recipe">Add recipe</a>
      </li>
      <li>
        <a routerLink="/diary">Diary</a>
      </li>
    </ul>
  </nav>
</header>

